<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         processIsolation="true"
         cacheResult="true"
         colors="true"
>
    <testsuites>
        <testsuite name="unit.layer0">
            <directory>tests/Unit/Layer0</directory>
        </testsuite>

        <testsuite name="unit.layer1">
            <directory>tests/Unit/Layer1</directory>
        </testsuite>

        <testsuite name="unit.layer2">
            <directory>tests/Unit/Layer2</directory>
        </testsuite>
    </testsuites>
</phpunit>
